<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
         <link rel="stylesheet" href="css/cssreset.css">
         <link rel="stylesheet" href="css/styling.css">
    </head>
    <body>
        <!--Container Area-->
        <div id = "containter">
            <!--Header Area-->
            <div id = "header">
                <div id ='logo'>Logo</div>
                <div id = "top_info">Top Info</div>
                 <div id ="navbar"> 
                    <ul>
                        <li><a href="URL">Give in a Link</a></li>
                        <li><a href="URL">Give in a Link</a></li>
                    </ul>

                 </div>
                    </div>

            <!--Content Area-->
            <div id = "content_area">
                <div id = "banner">Banner
                    
                </div>
                <div id="left_col">Left Col Content</div>
                <div id="right_col">Right Col Content</div>
                </div>  

           <!--Footer Area-->
           <div id = "footer">Footer</div>
</div> <!--End Container>


    </body>
</html>
